body{
	margin:0px auto;
    vertical-align:text-top;
	background: url('../img/Coming_soon_sections.png') no-repeat center top fixed; 
  	-webkit-background-size:90%;
  	-moz-background-size:90%;
  	-o-background-size:90%;
  	background-size:90%;
}
#box-link {
	text-align:right;
	position: fixed;
	display:block;
	top: 4%;
	right: 9%;
	width: 9%;
	height: 5%;
	background-color: transparent;
	border: 1px transparent;
	overflow: auto;
}